<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gradruate.mapper.UcenterMemberMapper">

    <select id="queryParams" parameterType="String" resultType="com.example.gradruate.entity.UcenterMember">
    select * from ucenter_member
    <where>
        <if test='params !=null and params!=" "'>
            1=1
            and  gmt_create like concat(concat('%',#{params}),'%')
            or  nickname like concat(concat('%',#{params}),'%')
        </if>
    </where>
</select>
    <select id="getMemById" parameterType="String" resultType="com.example.gradruate.entity.UcenterMember">
        select * from ucenter_member where id=#{id}
    </select>

    <update id="updateMegById" parameterType="com.example.gradruate.entity.UcenterMember">
        update ucenter_member set nickName=#{ucenterMember.nickname},avatar=#{ucenterMember.avatar}
        where id=#{ucenterMember.id}
    </update>
</mapper>
